@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;800&family=Poppins:ital,wght@1,300&family=Righteous&display=swap');

*, *:before, *:after{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(238,229,174);
    background: linear-gradient(21deg, rgba(238,229,174,0.3926995969286152) 0%, rgba(148,187,233,0.4403186445476628) 100%);
}



h1{
    font-size: 3em;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Righteous', cursive;
}

a{
    text-decoration: none;
    color: $type-color;
}

footer{
    background-color: #84b6f4;
}

ul {list-style: none;
    li{
    text-decoration: none;}

}

div{
    @include radio;
    margin: 0.1%;
}

.behance{
    font-size: 2em;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Righteous', cursive;

}