@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;800&family=Poppins:ital,wght@1,300&family=Righteous&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 229, 174);
  background: linear-gradient(21deg, rgba(238, 229, 174, 0.3926995969) 0%, rgba(148, 187, 233, 0.4403186445) 100%);
}

h1 {
  font-size: 3em;
  color: black;
  padding: 40px;
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
}

a {
  text-decoration: none;
  color: #191919;
}

footer {
  background-color: #84b6f4;
}

ul {
  list-style: none;
}
ul li {
  text-decoration: none;
}

div {
  border-radius: 1px;
  margin: 0.1%;
}

.behance {
  font-size: 2em;
  color: black;
  padding: 40px;
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
}

header {
  background-color: pink;
  height: 100px;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}
header nav a .logo {
  border: none;
  margin-left: 20px;
  padding: 10px;
  max-width: 128px;
}
header nav a .logo:hover {
  transition: ease-in-out 0.3s;
  width: 300px;
  padding: 2px;
}
header ul li {
  display: inline-block;
  background-color: pink;
  padding: 1%;
  margin-left: 10%;
  list-style-type: none;
}
header .nav-link {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
header .nav-item {
  border-radius: 30px;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 10px;
}

@media (max-width: 991px) {
  button.show-more {
    display: none;
  }
  ul.dropdown-menu {
    display: block;
  }
}
#navbarSupportedContent {
  z-index: 99;
}

.coleccionCapsula {
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}

.profile-pic {
  width: 200px;
  border: 10px dashed pink;
  border-radius: 100%;
  margin: 5%;
}

.profile-pic:hover {
  width: 210px;
  border: 5px dashed pink;
  transition: ease-in-out 1s;
}

.miNombre {
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.formulario {
  margin: 30px;
  padding: 30px;
  border-radius: 30px;
  border: dashed 10px lightskyblue;
}

.form {
  font-size: 18px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  text-align: center;
}

.button {
  background-color: hotpink;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  text-align: center;
  border: dashed 5px white;
  margin-left: 28%;
}

.icono {
  border: none;
  border-radius: 10px;
  margin-left: 10%;
}

.icono:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
}

.item {
  border: none;
  border-radius: none;
  margin: 16%;
  padding: 10px;
  max-width: 200px;
  border-radius: 30px;
}

.producto {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.catalogo {
  background-color: darkseagreen;
  width: 300px;
  border-radius: 30px;
  margin: 20px;
}

.nombreProducto {
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-weight: normal;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.portfolio {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 20px;
}

.carinio {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
}

form.contacto {
  display: table;
  line-height: 60px;
}

.contacto {
  display: table-row;
  line-height: 60px;
}

.conectamos {
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 20px lightpink;
  justify-content: center;
  border-radius: 30px;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.wpp {
  margin: 2%;
}

.formulario {
  margin: 30px;
  padding: 30px;
  border-radius: 30px;
  border: dashed 10px lightskyblue;
  justify-content: space-around;
  align-items: center;
}

.form {
  font-size: 18px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  text-align: center;
  justify-content: space-around;
}

.btnConectar {
  background-color: hotpink;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  text-align: center;
  border: dashed 5px white;
  margin-left: 28%;
}

.btnConectar:hover {
  width: 105px;
  height: 105px;
  background-color: lightskyblue;
  transition: ease-in-out 0.5s;
}

.mapa {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#conejo {
  display: flex;
  align-items: center;
  align-content: center;
  width: 40%;
}

#conejo:hover {
  width: 45%;
  transition: ease-in-out 0.3s;
}

.verMas {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
}

.quienSoy {
  padding: 50px;
  background-color: blanchedalmond;
  margin-left: 2%;
  text-align: left;
  margin-right: 20px;
  border-radius: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  align-items: center;
  text-justify: distribute;
}

.queBusco {
  margin: 5%;
  padding: 5%;
  background-color: lightblue;
  text-align: left;
  border-radius: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  align-items: center;
}

.queBusco2 {
  margin: 5%;
  padding: 5%;
  background-color: lightpink;
  text-align: left;
  border-radius: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  align-items: center;
}

.queBusco3 {
  margin: 5%;
  padding: 5%;
  background-color: burlywood;
  text-align: left;
  border-radius: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  align-items: center;
}

.connect {
  margin: 5%;
  padding: 5%;
  background-color: lightblue;
  text-align: left;
  border-radius: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verTrabajos {
  animation: fadeIn 2s;
}

.sobreMi-1 {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sobreMi-2 {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.portfolio-ir {
  background-color: lightblue;
  text-align: left;
  font-weight: normal;
  padding: 20px;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 4px;
  word-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  background-color: bisque;
  border-radius: 30px;
  padding: 10%;
  margin: 10%;
}

.regalitos {
  display: flex;
}

.conectemos {
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
  background-color: pink;
  border-radius: 30px;
}

.titulo-portfolio {
  font-size: 1em;
}

.titulo-portfolio2 {
  margin: 4%;
}

.behance {
  font-size: 2em;
  color: lightblue;
  max-width: 4600x;
  border-radius: 30px;
  background-color: white;
  margin: 5%;
}

.behance:hover {
  background-color: darkkhaki;
  color: #000;
}

.campos {
  background-color: pink;
  color: black;
  font-size: 1em;
  margin: 3%;
}

.hardSkill {
  font-size: 18px;
}

.portfolioTextos {
  font-size: 1em;
}

.knowledge {
  font-size: 18px;
}

.skillsSection {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.card {
  width: 300px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: lightpink;
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}
@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
div#face {
  width: 40vw;
  height: 40vw;
  max-width: 400px;
  max-height: 400px;
  margin: 20% auto;
  position: relative;
  background: lightblue;
  margin-top: 2rem;
}

div#face, div#face * {
  border-radius: 50%;
}

.eye {
  width: 25%;
  height: 25%;
  background: #fff;
  position: absolute;
  top: 20%;
}

.left.eye {
  left: 20%;
}

.right.eye {
  right: 20%;
}

.pupil {
  background: #000;
  width: 50%;
  height: 50%;
  position: relative;
  left: 25%;
  transform-origin: bottom;
}

#mouth {
  position: relative;
  width: 60%;
  left: 20%;
  height: 25%;
  border: 1vw solid transparent;
  border-radius: 50%;
  top: 50%;
  font-size: 16px;
}

.notFound {
  margin: 20%;
}/*# sourceMappingURL=estilos.css.map */